.App {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background-color: rgb(40, 41, 38);
  color: #fff;
}

.calc-frame{
  background-color: rgb(196, 209, 164);
  width: 400px;
  border-radius: 14px;
}

.row{
  display: flex;
}

.space{
margin-top: 2px;
}